json
[{"id":"e4346be5.8307b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"344c52dd.3f89be","type":"ui_button","z":"e4346be5.8307b8","name":"","group":"b5d599d0.e0cd5","order":2,"width":0,"height":0,"passthru":false,"label":"Faire entrer la personne","tooltip":"","color":"","bgcolor":"","icon":"","payload":"yes","payloadType":"str","topic":"","topicType":"str","x":190,"y":720,"wires":[["5d747863.bf62e8"]]},{"id":"ab75a2a8.a98ec","type":"ui_button","z":"e4346be5.8307b8","name":"","group":"b5d599d0.e0cd5","order":1,"width":0,"height":0,"passthru":false,"label":"Vaccinner la personne","tooltip":"","color":"","bgcolor":"","icon":"","payload":"no","payloadType":"str","topic":"","topicType":"str","x":200,"y":840,"wires":[["5d747863.bf62e8"]]},{"id":"5d747863.bf62e8","type":"switch","z":"e4346be5.8307b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":780,"wires":[["bc4638ba.6f6978"],["83e34257.f174d"]]},{"id":"bc4638ba.6f6978","type":"change","z":"e4346be5.8307b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://s1.qwant.com/thumbr/0x380/0/0/a5a5cf64b1d9da5133412c7d6ec9fb9c49cfe62a358380277470a6b3762a04/866066-phobies-font-partie-grande-famille.jpg?u=http%3A%2F%2Fimages.lpcdn.ca%2F924x615%2F201406%2F10%2F866066-phobies-font-partie-grande-famille.jpg&q=0&b=1&p=0&a=1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":680,"wires":[["f00de421.3ca2e8"]]},{"id":"83e34257.f174d","type":"change","z":"e4346be5.8307b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://tse2.mm.bing.net/th?id=OIP.ETzkyGkNl-Q-y6yRyFMxLwHaED&pid=Api","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":820,"wires":[["3f8f341c.30decc","f00de421.3ca2e8"]]},{"id":"3f8f341c.30decc","type":"ui_toast","z":"e4346be5.8307b8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Personne a été vaccinner","name":"","x":1110,"y":900,"wires":[]},{"id":"f00de421.3ca2e8","type":"ui_template","z":"e4346be5.8307b8","group":"b5d599d0.e0cd5","name":"","order":3,"width":0,"height":0,"format":"<canvas id=\"myCanvas\"></canvas>\n<img id=\"image\" alt=\"Image\" src=\"{{msg.payload}}\"/>\n\n<script type=\"text/javascript\">\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1100,"y":760,"wires":[[]]},{"id":"f0895ae5.5e4128","type":"ui_audio","z":"e4346be5.8307b8","name":"","group":"b5d599d0.e0cd5","voice":"Microsoft Hortense Desktop - French","always":"","x":520,"y":980,"wires":[]},{"id":"b1a746c0.be25b8","type":"delay","z":"e4346be5.8307b8","name":"Timer","pauseType":"random","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"30","randomLast":"180","randomUnits":"seconds","drop":false,"x":410,"y":900,"wires":[["f0895ae5.5e4128","ffb751ad.4c93b","6b3d679a.3cf478"]]},{"id":"b38a1554.db7d98","type":"ui_switch","z":"e4346be5.8307b8","name":"","label":"Deverouiller la porte","tooltip":"","group":"b5d599d0.e0cd5","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":200,"y":980,"wires":[["ffb751ad.4c93b"]]},{"id":"ffb751ad.4c93b","type":"change","z":"e4346be5.8307b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ding dong","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1080,"wires":[["b1a746c0.be25b8"]]},{"id":"6b3d679a.3cf478","type":"ui_toast","z":"e4346be5.8307b8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":580,"y":1060,"wires":[]},{"id":"88e46a20.e1ba08","type":"link in","z":"e4346be5.8307b8","name":"","links":[],"x":325,"y":1520,"wires":[[]]},{"id":"d6434bb.f193db8","type":"inject","z":"e4346be5.8307b8","name":"Nb masque","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"90000","payloadType":"num","x":269,"y":219,"wires":[["592af5a9.b1ebcc"]]},{"id":"592af5a9.b1ebcc","type":"function","z":"e4346be5.8307b8","name":"","func":"msg.payload = global.get(\"nbmasques\") - 1;\nglobal.set(\"nbmasques\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":779,"y":139,"wires":[["6246e294.704a8c","5cdebae0.74b494"]]},{"id":"72854a4e.24bd84","type":"ui_button","z":"e4346be5.8307b8","name":"","group":"b5d599d0.e0cd5","order":4,"width":0,"height":0,"passthru":false,"label":"Obtenir un masque","tooltip":"","color":"","bgcolor":"","icon":"","payload":"90000","payloadType":"str","topic":"payload","topicType":"msg","x":530,"y":240,"wires":[["592af5a9.b1ebcc"]]},{"id":"6246e294.704a8c","type":"ui_text","z":"e4346be5.8307b8","group":"b5d599d0.e0cd5","order":7,"width":0,"height":0,"name":"","label":"Réserve de masque","format":"{{msg.payload}}","layout":"row-spread","x":1099,"y":199,"wires":[]},{"id":"63483ce7.b3f044","type":"inject","z":"e4346be5.8307b8","name":"Nb gants","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"90000","payloadType":"num","x":239,"y":399,"wires":[["abcd7755.db85f8"]]},{"id":"abcd7755.db85f8","type":"function","z":"e4346be5.8307b8","name":"","func":"msg.payload = global.get(\"nbgants\") - 2;\nglobal.set(\"nbgants\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":719,"y":359,"wires":[["66734a7a.81b0f4","6bfb6d0a.15a054"]]},{"id":"f14a0273.ad115","type":"ui_button","z":"e4346be5.8307b8","name":"","group":"b5d599d0.e0cd5","order":5,"width":0,"height":0,"passthru":false,"label":"Obtenir des gants","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"payload","topicType":"msg","x":470,"y":440,"wires":[["abcd7755.db85f8"]]},{"id":"66734a7a.81b0f4","type":"ui_text","z":"e4346be5.8307b8","group":"a2fba279.0eda18","order":4,"width":0,"height":0,"name":"","label":"Réserve de gants","format":"{{global.get(\"nbgants\")}}","layout":"row-spread","x":1029,"y":379,"wires":[]},{"id":"77d34ed0.e91e4","type":"inject","z":"e4346be5.8307b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":120,"wires":[["f3fb8db4.f0a1"]]},{"id":"f3fb8db4.f0a1","type":"function","z":"e4346be5.8307b8","name":"","func":"global.set(\"nbgants\", 90000);\nglobal.set(\"nbmasques\", 90000);\nmsg.payload = global.get(\"nbgants\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":100,"wires":[["ac894cf2.35baa"]]},{"id":"5cdebae0.74b494","type":"debug","z":"e4346be5.8307b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":260,"wires":[]},{"id":"ac894cf2.35baa","type":"debug","z":"e4346be5.8307b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":540,"y":120,"wires":[]},{"id":"6bfb6d0a.15a054","type":"debug","z":"e4346be5.8307b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":440,"wires":[]},{"id":"f3acadd3.1aa26","type":"inject","z":"e4346be5.8307b8","name":"","props":[{"p":"payload"},{"p":"photo","v":"https://avatars.githubusercontent.com/u/5375661?s=280&v=4","vt":"str"},{"p":"date","v":"$moment()","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Node-RED","payloadType":"str","x":210,"y":1340,"wires":[["b4857f9f.f751a"]]},{"id":"65558de3.96a654","type":"ui_button","z":"e4346be5.8307b8","name":"","group":"a2fba279.0eda18","order":2,"width":0,"height":0,"passthru":false,"label":"World","tooltip":"","color":"","bgcolor":"","icon":"","payload":"World","payloadType":"str","topic":"","x":160,"y":1280,"wires":[["24cf7c3c.e5a2f4"]]},{"id":"5f9fd593.6dddac","type":"ui_button","z":"e4346be5.8307b8","name":"","group":"a2fba279.0eda18","order":1,"width":0,"height":0,"passthru":false,"label":"Hello","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hello","payloadType":"str","topic":"","x":160,"y":1240,"wires":[["24cf7c3c.e5a2f4"]]},{"id":"24cf7c3c.e5a2f4","type":"ui_text","z":"e4346be5.8307b8","group":"a2fba279.0eda18","order":4,"width":0,"height":0,"name":"","label":"Résultat:","format":"{{msg.payload}}","layout":"row-spread","x":320,"y":1260,"wires":[]},{"id":"b4857f9f.f751a","type":"ui_template","z":"e4346be5.8307b8","group":"a2fba279.0eda18","name":"Template HTML","order":5,"width":13,"height":17,"format":"<canvas id=\"myCanvas\"></canvas>\n<div>Bonjour a tous les habitants du bunker </div>\n\t<h1 id=\"my-hour\"></h1>\n\t<script>\n\t\tfunction getTime () { \n\t\t\tvar date = new Date(); \n\t\t\tvar hours = date.getHours(); \n\t\t\tvar minutes = date.getMinutes(); \n\t\t\tvar seconds = date.getSeconds(); \n\t\t\thours = ((hours < 10) ? \" 0\" : \" \") + hours;\n\t\t\tminutes = ((minutes < 10) ? \":0\" : \":\") + minutes; \n\t\t\tseconds = ((seconds < 10) ? \":0\" : \":\") + seconds; \n\t\t\tvar myHour = document.getElementById(\"my-hour\");\n\t\t\tmyHour.textContent = hours + minutes + seconds;\n\t\t\tsetTimeout(\"getTime()\",1000); \n\t\t\t\n\t\t}\n\t\tgetTime();\n\t</script>\n<script type=\"text/javascript\">\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":450,"y":1340,"wires":[[]]},{"id":"9fb1dc20.577d8","type":"ui_button","z":"e4346be5.8307b8","name":"","group":"abb66248.fbd33","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"https://viago.ca/wp-content/uploads/2015/07/Plage-768x432.jpg","payloadType":"str","topic":"topic","topicType":"msg","x":790,"y":1260,"wires":[["5b6fbee1.5aa1f"]]},{"id":"5b6fbee1.5aa1f","type":"ui_template","z":"e4346be5.8307b8","group":"7daf10ba.57236","name":"","order":1,"width":"0","height":"0","format":"<canvas id=\"myCanvas\"></canvas>\n<img id=\"image\" alt=\"Image\" src=\"{{msg.payload}}\"/>\n\n<script type=\"text/javascript\">\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1000,"y":1260,"wires":[[]]},{"id":"b5d599d0.e0cd5","type":"ui_group","name":"Default","tab":"d2249df3.d1c34","order":2,"disp":false,"width":26,"collapse":false},{"id":"a2fba279.0eda18","type":"ui_group","name":"Rapport","tab":"8207ec55.93e5d8","order":1,"disp":true,"width":"13","collapse":false},{"id":"abb66248.fbd33","type":"ui_group","name":"Group 1","tab":"252a8e2.82a7f72","order":1,"disp":true,"width":6},{"id":"7daf10ba.57236","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"d2249df3.d1c34","type":"ui_tab","name":"Porte d'entré","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"8207ec55.93e5d8","type":"ui_tab","name":"Masque","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"252a8e2.82a7f72","type":"ui_tab","name":"A la plage","icon":"dashboard","order":4,"disabled":false,"hidden":false}]
